@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  background: white;
}

.visual-wrapper {
  background: url('/images/mainVisual_02.jpg') center top / cover no-repeat;
  width: 100%;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 120px;
}

header {
  background-color: transparent;
  color: white;
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1000;
}

header.hovering {
  background-color: white;
  color: black;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  height: 82px;
  background-color: transparent;
}

header.hovering .header-container {
  background-color: white;
}

.logo {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: white;
  white-space: nowrap;
  transition: color 0.3s;
  font-family: 'Noto Sans CJK KR', 'Noto Sans KR';
  flex: 1;
}

.logo a {
      display: block;
    width: 100%;
    height: 100%;
    padding:  0 0;
    font-size: 0;
}

.logo span{
      display: inline-block;
    width: 130px;
    height: 33px;
    margin-right: 5px;
    background: url("/images/logo2.svg") no-repeat;
    font-size: 0;
    transition: color 0.3s ease;
}

header.hovering .logo span {
  background-image: url("/images/logo.svg");
  transition: color 0.3s ease;
}

.logo em {
    display: inline-block;
     font-style: normal;
    margin-left: 8px;
    position: relative;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    vertical-align: top;
    letter-spacing: -0.05em;
    transition: color 0.3s ease;
}

header.hovering .logo em {
  color: black;
}

header.hovering .logo {
  color: black;
}

.main-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex: 2;
  gap: 0px;
  font-weight: bold;
  cursor: pointer;
}

.main-menu li {
  padding: 0px 30px;
  color: white;
  transition: color 0.2s;
  font-size: 18px;
  white-space: nowrap;
}

.main-menu li.active {
  color: #c8102e;
}

header.hovering .main-menu li {
  color: black;
}

header.hovering .main-menu li.active {
  color: #c8102e !important;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  flex: 1;
}

.header-links span {
  color: white;
  cursor: pointer;
  transition: color 0.2s;
}

header.hovering .header-links span {
  color: black;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #f4f4f4;
  z-index: 999;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  background: #f8f8f8 url('/images/gnb_bg.jpg') no-repeat right bottom;
}

header.hovering .mega-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.mega-menu-inner {
  display: flex;
  max-width: 1280px;
  width: 100%;
  background: transparent;
  padding: 0;
  margin: 0 auto;
}

.submenu-column {
  width: 16.66%;
  min-width: 180px;
  background: #f8f8f8;
  padding: 30px 0;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  transition: background 0.3s;

}


.submenu-column:last-child {
  border-right: none;
}

.submenu-column.active {
  background: white;
}

.submenu-column h4 {
  font-weight: normal;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 16px;
  font-size: 20px;
  padding: 0 12px 20px;
  color: black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.submenu-column h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #999;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.submenu-column.active h4 {
  color: #c8102e;
}

.submenu-column:hover h4::after {
  opacity: 0;
}

.submenu-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.submenu-column ul li {
  margin: 0;
  padding: 0;
}

.submenu-column ul li a {
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  padding: 0 12px;
  font-size: 15px;
  color: black;
  text-decoration: none;
  text-align: left;
  position: relative;
  white-space: nowrap;
  transition: background 0.2s, color 0.2s;
}

.submenu-column ul li a:hover {
  background: #c8102e;
  color: white;
}

.submenu-column ul li a:hover::after {
  content: "•";
  color: white;
  font-size: 20px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
}

.main-visual {
  width: 100%;
  position: relative;
  padding-top: 160px;
  color: white;
  text-align: center;
  background: transparent;
}

.main-title-wrap {
  padding-bottom: 121px;
}

.layout {
  max-width: 1280px;
  margin: 0 auto;
}

.slidewrap {
  margin-bottom: 5px;
}

.box__title {
  display: block;
  font-size: 63px;
  font-family: "Exo", sans-serif;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  animation: tittxt 0.7s ease-out forwards;
}

@keyframes tittxt {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.link_wrap {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
}

.link_wrap li {
  flex: 1;
  aspect-ratio: 1 / 1;
  position: relative;
  list-style: none;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  overflow: visible;
}

.link_wrap li:last-child {
  border-right: none;
}

.link_wrap li::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: transparent;
  transform: scale(1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 0;
}

.link_wrap li:hover::after {
  background-color: #3048af;
  background-image: url("/images/background__link.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  transform: scale(1.08);
}

.link_wrap .box {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.link_wrap .icon {
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
  background-image: url('/images/ico_ir.png');
  background-repeat: no-repeat;
  background-size: 550px auto;
  position: relative;
  z-index: 3;
}

.link_wrap .label {
  font-size: 15px;
  color: white;
  position: relative;
  z-index: 3;
}

.icon1 .icon {
  background-position: 0px 0;
}

.icon2 .icon {
  background-position: -55px 0;
}

.icon3 .icon {
  background-position: -110px 0;
}

.icon4 .icon {
  background-position: -165px 0;
}

.icon5 .icon {
  background-position: -275px 0;
}

.icon6 .icon {
  background-position: -440px 0;
}

.news-info-wrapper {
  display: flex;
  width: 100%;
  background: white;
}

.news-section {
  width: calc(100% - 800px);
  max-width: 1280px;
  padding: 60px 50px 60px 315px;
}

.news-title {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: 'exo', sans-serif;
  font-style: normal;
}

.news-title::after {
  display: inline-block;
  content: '';
  width: 7px;
  height: 7px;
  margin: 3px 0 0 3px;
  border-radius: 50%;
  background-color: #2b5ec8;
  border-radius: 50%;
  margin-left: 4px;
  vertical-align: middle;
  transform: translateY(-15px);
}

.news-scroll {
  height: 440px;
  overflow-y: auto;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-scroll::-webkit-scrollbar {
  width: 6px;
}

.news-scroll::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 3px;
}

.news-scroll::-webkit-scrollbar-track {
  background-color: #eee;
}

.news-item {
  position: relative;
  display: flex;
  padding: 20px 24px 20px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding-left: 100px;
  gap: 16px;
  flex-wrap: nowrap;
}

.news-date {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  border: 3px solid #cfced3;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.news-date strong {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  line-height: 1;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  color: #3a3840;
}

.news-date span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 45px 0 0;
  font-size: 14px;
  font-family: "exo";
  color: #3a3840;
}

.news-content {
  flex: 1;
  min-width: 0;
}

.news-tag {
  font-size: 14px;
  color: #2b5ec8;
  margin-right: 6px;
}

.news-headline {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  line-height: 1.4;
  margin: 4px 0 10px;
  font-size: 17px;
  font-weight: 700;
  color: #232226;
}

.news-content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  height: 42px;
  font-size: 15px;
  color: #54525d;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: normal;
}

.info-bg {
  flex: 1;
  position: relative;
  background: url('/images/background__rg.png') center center / cover no-repeat;
  color: white;
  z-index: 0;
}

.info-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  color: #494949;
  z-index: 1;
}

.info-section {
  position: relative;
  z-index: 2;
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 0px 60px 65px;
  color: white;
}

.info-section h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.info-section p {
  margin: 10px 0 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.8;
  max-width: 430px;
  word-break: keep-all;
  white-space: normal;
  font-family: 'Noto Sans CJK KR', 'Noto Sans KR';
}


.info-buttons {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 20px;
}

.info-button {
  display: block;
  position: relative;
  width: 100%;
  height: 55px;
  line-height: 53px;
  padding: 0 25px;
  padding-left: 50px;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: transparent;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
  box-sizing: border-box;
}

.info-button::after {
  content: '>';
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.info-button:hover {
  border-color: #4361d9;
  background: #4361d9;
}

.info-button .icon {
  display: inline-block;
  width: 22px;
  height: 42px;
  background-image: url('/images/ir-main.png');
  background-repeat: no-repeat;
  background-size: auto;
  margin-right: 10px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-70%);
}

.infoicon1 .icon {
  background-position: -350px 0;
}

.infoicon2 .icon {
  background-position: -372px 0;
}

.infoicon3 .icon {
  background-position: -395px 0;
}

.infoicon4 .icon {
  background-position: -418px 0;
}

.floating-nav {
  position: fixed;
  right: 30px;
  top: 380px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 999;
  transition: top 0.6s ease;
}

.nav-btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #898d94;
  background: #fff;
  font-weight: 700;
  color: #1d273a;
  font-size: 15px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
  border: none;
  cursor: pointer;
  white-space: pre-line;
  font-family: 'Noto Sans CJK KR', 'Noto Sans KR';
}

.top-btn {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #1d273a url("/images/top.png") no-repeat center;
  font-size: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

footer {
  background: #181c23;
  color: #ccc;
  padding: 48px 0px;
  font-size: 16px;
}

.footer-top {
  display: flex;
  justify-content: left;
  gap: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
}
.footer-links a {
   color: #ffc107;
  text-decoration: none;
}
.footer-other a {
  color: #FFFFFFB3;
  text-decoration: none;
}

.footer-bottom {
  text-align: left;
  margin-top: 18px;
  color: #888;
  font-size: 15px;
  line-height: 1.6;
}

.footer-bottom p {
  margin: 4px 0;
  color: #FFFFFFB3;
}

.footer-last p{
  color: #FFFFFF4D;
}